
/*all*/
@media <media types> and (<media features>) {

    /* put your CSS here */
    
}

@media screen and (max-width: 500px) { 
.body { 
    display: none; 
    } 
}

/*
h1 {
  color: white;
  font-size: 6em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainbox a {
  transition: all 0.8s cubic-bezier(.14, 1.36, .5, .88);
}

.mainbox a:hover {
  transform: scale(1.1);
}
*/
/* header */

.section_haut {
    display: flex;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .header li a:hover, .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* heather Inclus menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu heather Inclus icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked~.menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 200;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }



/* centre*/
@media screen and (max-width: 400px) { 
}   
.contact_image_title{
    max-width: auto;
    min-width: 100px;
    min-height: 100px ;
    max-height: auto;
    margin: 0;
    padding: 0;
    background: url(images/contact_us.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.contact_us_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
  }

#contact{
  color:white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#us{
  color: red;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.contact_us_groupe{ /*2nd part - contact zone to message */
    display: flex;
    width: auto;
    flex-direction: column ;
    text-align: center;
    height:400px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px; 
    padding-right: 25px;
  }

.tittle_contact{
    width: 170px;
    height: 25px;
    margin-top: 10px;
    padding-left: 10px;
}

.name_mail_contact{ /*2nd part - name and mail zone */
  background-color:rgba(246, 242, 242, 0.959);
  border-radius: 10px;
  width: 170px;
  height: 25px;  
  padding-left: 10px;
  border:solid black 2px;
}

.subject{   /*2nd part - selection topic zone */
  background-color:rgba(246, 242, 242, 0.959);
  border-radius: 10px;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  height: 25px;
  border:solid black 2px;
}

textarea{
  min-width: 200px;
  max-width: 600px;
  min-height: 200px;
  max-height: 400px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px; 
}

.bottoninfo{/*what to do?!*/
  border:solid black 2px;
  border: 15px;
  
}

.map{/*what to do?!*/
  display: flex;
  width: auto;
  flex-direction: column ;
  text-align: center;
  height:auto;
  margin:auto;
  border:solid black 2px;
}

.tittle-map{
  border:solid black 2px;
}

.map-container-google{
  display: flex;
  flex-direction: column ;
  flex: center;
  min-height: none;
  height:auto;
  min-width: 100px;
  width:auto;
  border: 5px;
  border:solid black 2px;
}

.real-map{
  min-width: none;
  width: auto;
  min-height: none;
  height : 600px;
}


.identification-team{
  display: flex;
  justify-content: space-around;
  align-content:center;
  border:solid black 2px;
}

.id-photo{
  border-radius: 20%;
  margin-left: 5%;
  margin-left: 5%;
  /*type letter*/
  border:solid black 2px;
}

  /*general for all*/
  
footer{
  background-color: rgb(186, 186, 187,0.8);
  border:solid blue 2px;
}

.footer{   
}

.Social-Network{
  display:flex;  
  flex-direction: row;
  justify-content:space-between;
  width: auto;
  height: 60px;
  border: auto;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  border:solid blue 2px;
}

.links{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  width: auto;
  height: auto;
  }

.Social-Network-Icons{
  display: flex;
  /*justify-content: space-around;*/
  /*align-content: left;*/
  margin: auto;
  border-radius: 50%;
  width:50%;
}

.Newsletter{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top:2.5%;
}

.about_us{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left;
}
