/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media(max-width: 550px) {
  .image_title {
    display: none;
  }
  .covid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

/* Contenu Image Background */

.image_title {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: url(images/atonium.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.title_wild_brussels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}

h1 {
  color: white;
  font-size: 6em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  color: white;
  font-size: 60px;
}

#title_wild {
  color: red;
}

/* Contenu Covid */

.covid_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: red;
  height: 150px;
  width: 50%;
  opacity: 80%;
 
  width: 60%;
}

.content {
  display: flex;
  justify-content: center;
}

.covid1, .covid2, .covid3, .covid4 {
  width: 80px;
  height: 80px;

}

a, .covid_box{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* Contenu Box Centrales */

.center_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10em;
  margin-bottom: 10em;
}

.box {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

#box_1 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/chou.jpg);
  background-size: cover;
}

#box_2 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/frite.jpg);
  background-size: cover;
}

#box_3 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/bxl.jpg);
  background-size: cover;
}

#box_4 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/skate.jpg);
  background-size: cover;
}

#box_5 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/skate.jpg);
  background-size: cover;
}

#box_6 {
  border-radius: 16px;
  width: 250px;
  max-width: 100%;
  height: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(images/skate.jpg);
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.3s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(images/chou.jpg);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.3s ease-out;
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}

#box_1:hover .info, #box_1:hover .info:before {
  transform: translateY(0) translateZ(0);
}

#box_2:hover .info, #box_2:hover .info:before {
  transform: translateY(0) translateZ(0);
}

#box_3:hover .info, #box_3:hover .info:before {
  transform: translateY(0) translateZ(0);
}

#box_4:hover .info, #box_4:hover .info:before {
  transform: translateY(0) translateZ(0);
}

#box_5:hover .info, #box_5:hover .info:before {
  transform: translateY(0) translateZ(0);
}

#box_6:hover .info, #box_6:hover .info:before {
  transform: translateY(0) translateZ(0);
}


@media screen and (min-width: 480px) {
  .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .id-photo{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .first_row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second_row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Social-Network-Icons{
    display: flex;
    text-align: center;
    min-width: 50px;
    width:90%;
    opacity: 85%;
  }*/
  .url_wild{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 670px) {
  .leopold, .xavier, .mario{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .first_row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second_row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .url_wild{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}  

.footer{
  display: flex;
  flex-direction: row;
  flex-flow: column;
  justify-content:space-around;
}

.about_us_title{
  text-align: center;
  margin-top: 150px;
}

.first_row{
  display:flex;
  justify-content: center   ;
  margin-left: 75px;
  margin-top: 45px;
  margin-right: 75px;
  margin-bottom: 85px;
}

.leopold, .xavier, .mario{
  text-align: center;
}
.identification-team{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:left;
  align-items: center;
}

.id-photo{
  border-radius: 40%;
  margin-left: 5%;
  margin-left: 5%;
  width: 70%;
}

.Newsletter{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  margin-top:2.5%;
}
.second_row{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:lightgray;
}

.Social-Network-Icons{
  display: flex;
  justify-content: flex-end;
  align-content: right;
  margin-top: 20px;
  border-radius: 40%;
  max-width: fit-content;
  min-width: 35%;
  width:50%;
  opacity: 85%;
}

.url_wild{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left;
}