/* header */

.section_haut {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 200;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

body {}

.image_title {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: url(images/atonium.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.title_wild_brussels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700PX;
}

h1 {
  color: white;
  font-size: 6em;
}

#title_wild {
  color: red;
}

.boxx {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  border: solid black 1px;
}

.content {
  width: 60%;
  text-align: center;
}

.centre {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5em;
}

#box_1 {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  border-radius: 0.5em;
  opacity: 0.8;
}

#box_2 {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  border-radius: 0.5em;
  opacity: 0.8;
}

#box_3 {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  border-radius: 0.5em;
  opacity: 0.8;
}

#blague {
  display: flex;
  justify-content: center;
}

.events {
  text-align: center;
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5em;
}

  /*general for all*/
  footer{
    background-color: rgb(186, 186, 187);
    border:solid black 2px;
 
  }
  .footer{ 
    display:flex;
    flex-direction: center;
    /*align-content: space-around;*/
    border:solid black 2px;
    
  }

  .Social-Network{
    display:flex;
    flex-direction: center;
    /*align-content: space-around;*/
    margin-left: 5%;
    margin-right: 5%;
    border:solid black 2px;
  }

  .Social-Network-Icons{
    display:flex;
    flex-direction: left;
    align-content:space-around;
    margin-top: auto;
    border-radius: 50%;
    width: 50%;
    border:solid black 2px;
  }

  .Newsletter{
    display: flex;
    /*align-content: center;
    margin-right: 30px;
    */border:solid black 2px;
  }

  .about_us{
    display: flex;
    align-items: column;
    border:solid black 2px;
    flex-direction: column;
   
   
    /*flex-direction: right;
    align-content: center;    
    margin-left: 30px;
    */

  }