/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_city {
    width: 100px;
}

#nav_bar {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 100px;
    height: 100px;
}

li {
    
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}

#search {
    background-color: lightgray;
    border-radius: 1em;
    width: 100px;
    height: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

#atonium {
    display: flex;
    justify-content: center;

#articles {
    display: flex;
    justify-content: space-around;
}